body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10%;
    padding: 5%;
    background-color: rgb(250, 196, 190);

 
     margin-left: 35%;


 
     margin-left: 30%;
     font-size: 25px;
 } 
 h1{
    color:aqua;
    text-decoration: underline;
 }
 h2{
    color:aquamarine
 } 
 p{
    text-align: justify;
 }
 
 
 
